.heading{

    text-align: center;
}

.thead-dark{
    background-color: darkgray;
}
.container{
    border: 2px black;
    margin: 50px;
}
@media only screen and (max-width: 600px) {
    .container {
      background-color: lightblue;
    }
  }